<div>
  <div> Ciudad de Origen
    <p> {{objeto.ciudadOrigen}}</p>
  </div>
  <div> Ciudad de Destino
    <p> {{objeto.ciudadDestino}}</p>
  </div>
  <div> Hora salida
    <p> {{objeto.horaOrigen}}</p>
  </div>
  <div> Hora Llegada
    <p> {{objeto.horaLlegada}}</p>
  </div>
  <div> Fecha salida
    <p> {{objeto.fechaOrigen}}</p>
  </div>
  <div ng*if="objeto.fechaLlegada=valid"> Fecha Llegada
    <p> {{objeto.fechaLlegada}}</p>
  </div>
  <div> Numero de pasajeros
    <p> {{objeto.pasajeros}}</p>
  </div>
  <div> <input type="submit" name="back" value="back"/>
  




</div>
